@model TicketingSystem.Models.ErrorMsg

@{
    ViewBag.Title = "CreateConfirmMsg";
}

@if (Model != null && Model.error)
{
    <div class="alert alert-warning">
        <span>@Model.msg</span>
    </div>
}
else
{
    <div class="alert alert-success">
        <span>@Model.msg</span>
    </div>
}
<br />
@Html.ActionLink("Continuar", "Index", "Home", null, new { @class = "btn btn-primary" })

